@font-face{
	src: url(../fonts/icons.ttf);
	font-family: 'icon';
}

.icon{
	font-family:icon;
}

.lato {
    font-family: 'Lato', sans-serif;
}

.white-shadow{
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.black-shadow{
	text-shadow: 0 1px 0 rgba(0,0,0,.4);
}